metricbeat.config.modules:
  path: ${path.config}/modules.d/*.yml

#output.elasticsearch:
#  hosts: ["{{ http_ip_elk }}:{{ http_port_elastic }}"]
#  username: "{{elastic_user}}"
#  password: "{{elastic_pass}}"

output.logstash:
  hosts: ["{{ http_ip_elk }}:{{http_port_logstash}}"] 

setup.kibana:
  host: "{{ http_ip_elk }}"