[Unit]
Description=nexus Service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/{{archive_contents.files[0]}}/bin/nexus start
Restart=always

[Install]
WantedBy=multi-user.target