version: '2'
services:

  logstash:
    image: logstash:{{ elk_version }}
    container_name: logstash
    volumes:
      - ./logstash/config/logstash.yml:/usr/share/logstash/config/logstash.yml:ro,Z
      - ./logstash/pipeline:/usr/share/logstash/pipeline:ro,Z
    ports:
      - "5044:5044"
      - "50000:50000/tcp"
      - "50000:50000/udp"
      - "9600:9600"
    environment:
      LS_JAVA_OPTS: -Xms256m -Xmx256m
      LOGSTASH_INTERNAL_PASSWORD: {{ elastic_pass }}
    links: 
      - elasticsearch
    depends_on:
      - elasticsearch

  elasticsearch:
    image: elasticsearch:{{ elk_version }}
    container_name: es01
    ports:
      - "9200:9200"
      - "9300:9300"
    environment:
      - node.name=es01
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - ELASTIC_PASSWORD={{ elastic_pass }}
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - xpack.security.enabled=false

  kibana:
    image: kibana:{{ elk_version }}
    container_name: kib01
    links:
      - "elasticsearch" 
    ports:
      - "5601:5601"
    environment:
      ELASTICSEARCH_URL: http://es01:9200
      ELASTICSEARCH_HOSTS: http://es01:9200 
      ELASTICSEARCH_PASSWORD: {{ elastic_pass }}
    links: 
      - elasticsearch
    depends_on:
      - elasticsearch
