input {
	beats {
		port => 5044
	}

	tcp {
		port => 50000
	}
}

## Add your filters / logstash plugins configuration here

output {
	elasticsearch {
		hosts => "es01:9200"
		user => "logstash_internal"
		password => "{{ elastic_pass}}"
	}
}