filebeat.inputs:
- type: log
  enabled: true
  paths:
    - /var/lib/docker/containers/*/*.log          

output.logstash:
  hosts: ["{{ http_ip_elk }}:{{http_port_logstash}}"]

#output.elasticsearch:
#  hosts: ["{{ http_ip_elk }}:{{ http_port_elastic }}"]
#  username: "{{elastic_user}}"
#  password: "{{elastic_pass}}"
  
setup.kibana:
  host: "{{ http_ip_elk }}"